In [1]:
# Install necessary package if needed
# !pip install pandas

import pandas as pd
import sqlite3
import os

# üì• Extract Phase
# Load CSV data into a DataFrame
data_path = '/content/sales_data.csv'
df = pd.read_csv(data_path)

print("Extracted Data:")
print(df.head())

# üõ†Ô∏è Transform Phase
# Convert 'Date' to datetime type
df['Date'] = pd.to_datetime(df['Date'])

# Calculate Total Sale for each transaction
df['TotalSale'] = df['Quantity'] * df['Price']

# Rename columns for consistency
df.rename(columns={'Customer': 'CustomerName'}, inplace=True)

print("\nTransformed Data:")
print(df.head())

# üóÑÔ∏è Load Phase
# Connect to SQLite database (creates if not exists)
db_path = 'sales_data.db'
conn = sqlite3.connect(db_path)

# Create cursor
cur = conn.cursor()

# Create table
cur.execute('''
    CREATE TABLE IF NOT EXISTS Sales (
        TransactionID INTEGER PRIMARY KEY,
        Date TEXT,
        CustomerName TEXT,
        Product TEXT,
        Quantity INTEGER,
        Price REAL,
        TotalSale REAL
    )
''')

# Insert DataFrame records into Sales table
df.to_sql('Sales', conn, if_exists='replace', index=False)

# Verify records
cur.execute("SELECT * FROM Sales")
rows = cur.fetchall()
print("\nLoaded Data:")
for row in rows:
    print(row)

# Close connection
conn.close()

Extracted Data:
   TransactionID        Date       Customer   Product  Quantity   Price
0           1001  2024-05-01       John Doe  Keyboard         2   45.99
1           1002  2024-05-02     Jane Smith     Mouse         1   25.50
2           1003  2024-05-02       John Doe   Monitor         1  155.00
3           1004  2024-05-03    Emily Davis    Laptop         1  699.99
4           1005  2024-05-04  Michael Brown  Keyboard         1   45.99

Transformed Data:
   TransactionID       Date   CustomerName   Product  Quantity   Price  \
0           1001 2024-05-01       John Doe  Keyboard         2   45.99
1           1002 2024-05-02     Jane Smith     Mouse         1   25.50
2           1003 2024-05-02       John Doe   Monitor         1  155.00
3           1004 2024-05-03    Emily Davis    Laptop         1  699.99
4           1005 2024-05-04  Michael Brown  Keyboard         1   45.99

   TotalSale
0      91.98
1      25.50
2     155.00
3     699.99
4      45.99

Loaded Data:
(1001, '2024-05-01 00:00:00', 'John Doe', 'Keyboard', 2, 45.99, 91.98)
(1002, '2024-05-02 00:00:00', 'Jane Smith', 'Mouse', 1, 25.5, 25.5)
(1003, '2024-05-02 00:00:00', 'John Doe', 'Monitor', 1, 155.0, 155.0)
(1004, '2024-05-03 00:00:00', 'Emily Davis', 'Laptop', 1, 699.99, 699.99)
(1005, '2024-05-04 00:00:00', 'Michael Brown', 'Keyboard', 1, 45.99, 45.99)